header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #333;
    color: #fff;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 1rem 0;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .line1,
  .line2,
  .line3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      width: 100%;
      display: none;
    }
  
    .burger {
      display: block;
    }
  }
  
  .main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #383746 0%, #281aa4 100%);
    padding: 14px 32px;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
  }

  .main__btn a {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 2;
    color: #0d5f1c;
    text-decoration: none
  }